<template>
    <subframe title="Add a new device">
        <form action="">

        </form>
    </subframe>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Subframe from "@/components/Subframe.vue";

@Component({
    components: {
        Subframe
    },
})
export default class NewUser extends Vue {}
</script>
