<template>
    <div class="materialblock">
        <p class="materialblock-title">{{title}}</p>
        <div class="materialblock-inner">
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component
    export default class Materialblock extends Vue {
        @Prop() private title!: string;
    }
</script>

<style scoped lang="scss">
    .materialblock {
        width: 100%;
        display: block;
        border: solid .5px #a1a1a1;
        border-radius: 7px;
        padding: .5rem;
        margin-top: 10px;
    }

    .materialblock-title {
        margin: 0;
        padding: 0;
        font-size: .8rem;
    }

    .materialblock-inner {
        padding: .5rem;

        p {
            padding: 0;
            margin: 0;
        }
    }
</style>