<template>
    <div class="sidebar">
        <p>{{ title }}</p>
        <ul>
            <slot></slot>
        </ul>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from "vue-property-decorator";


    @Component
    export default class Sidebar extends Vue {
        @Prop() private title!: string;
    }
</script>

<style scoped lang="scss">
    .sidebar {
        margin-right: 1rem;
    }

    p {
        display: block;
        width: 100%;
        font-size: 0.75rem;
        border-bottom: 1px solid hsl(0, 0%, 63%);
        margin: 0;
        margin-top: 1rem;
    }

    ul {
        margin: 0;
        padding: 0;

        a {
            font-weight: lighter;
            font-size: .85rem;
            display: block;
            padding: 0 5px;
            margin-left: 15px;
            padding-top: 6px;
            text-decoration: none;
            color: hsl(0, 0%, 94%);
            border-radius: 2px;
            border-bottom: 1px solid transparent;

            &.router-link-exact-active {
                border-bottom: 1px solid rgb(62, 62, 202);
            }
            &:hover {
                background-color: hsl(225, 17%, 11%);
            }
        }
    }
</style>
