<template>
    <div class="superframe">
        <div class="sidebar_container">
            <slot></slot>
        </div>
        <router-view />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"



@Component({
    components: {},
})
export default class superframe extends Vue {}
</script>

<style lang="scss">
.superframe {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
}

.sidebar_container {
    width: 20%;
    max-width: 13rem;
    display: flex;
    flex-direction: column;
}
</style>
