<template>
    <div class="shorttext">
        <label :for="name">{{text}}</label>
        <input :name="name" :id="name" type="text">
    </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";

@Component
export default class Shorttext extends Vue {
    @Prop() private name!: string;
    @Prop() private text!: string;
}
</script>

<style scoped lang="scss">
    .shorttext {
        width: 100%;
        padding-right: 20px;

        label {
            margin: 0;
            padding: 0;
            font-size: .8rem;
            display: block;
        }
    }

    input {
        font-size: 1rem;
        font-weight: 300;
        padding: 2px;
        background-color: hsl(225, 17%, 15%);
        border-radius: 5px;
        border: 1px solid #a1a1a1;
        color: inherit;
        display: block;
        width: 100%;
        margin-bottom: .75rem;
        box-shadow: 0 0 4px black;

        &:focus {
            border: 1px solid rgb(62, 62, 202);
            background-color: hsl(225, 17%, 25%);
        }
    }
</style>