<template>
    <subframe title="Create a new group">

    </subframe>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Subframe from "@/components/Subframe.vue";

@Component({
    components: {
        Subframe
    },
})
export default class NewUsrGroup extends Vue {}
</script>
